
@model IEnumerable<User> 

<h1>ADMIN PANEL</h1>

<a class="btn btn-primary" asp-controller="ManageAccounts" asp-action="NewUser">ADD USER</a>

<table class="table table-bordered table-striped" style="width:100%">
	<thead>
		<th>
			Nick
		</th>
		<th>
			Login
		</th>
		<th>
			Role Type
		</th>
		<th>
			First Name
		</th>
		<th>
			Second Name
		</th>
		<th>
			Phone
		</th>
		<th>
			Date Of Last Login
		</th>
		<th>
			Date Of Account Creation
		</th>
		<th>
			Action
		</th>
	</thead>
	
	<tbody>
		@if(Model.Count() > 0) {
			foreach(User user in Model) {
				<tr>
					<td width="11%">@user.NickName</td>
					<td width="11%">@user.Login</td>
					<td width="11%">@user.RoleType.Name</td>
					<td width="11%">@user.FirstName</td>
					<td width="11%">@user.SecondName</td>
					<td width="11%">@user.Phone</td>
					<td width="11%">@user.DateOfLastLogin</td>
					<td width="11%">@user.DateOfAccountCreation</td>
					<td width="6%"><a class="btn btn-success" asp-controller="ManageAccounts" asp-action="UpdateUser" asp-route-id="@user.Id">UPDATE</a></td>
					<td width="6%"><a class="btn btn-danger" asp-controller="ManageAccounts" asp-action="DeleteUser" asp-route-id="@user.Id">DELETE</a></td>
				</tr>
			}
		}
	</tbody>

</table>


